include setup.py pyproject.toml LICENSE README.md
recursive-include src *.cpp *.hpp *.cu *.cuh
recursive-include cuda_complex *.hpp
recursive-include fsph *.py *.pyx *.pxd *.cpp
include doc/Makefile
recursive-include doc/source *.py *.rst
